// ------------------------------------------ 全站設定 ------------------------------------------ //
html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body {
    font-family: "Roboto", "Noto Sans TC", sans-serif;
    overflow-x: hidden;
    line-height: normal;
    background-color: #F7F7F7;
}

// ------------------------------------------ 區塊共用 ------------------------------------------ //
//連結顏色
